body{
    background-image: url(../images/TheBeatles.png);
    background-size:100%;

}

header{
    margin:10px, 20px, 10px, 20px;
    width: 100%;
    height: 10%;
    text-align:right;
    padding-top:5px;
    padding-right:250px;
    font-size:20pt;
    color:whitesmoke;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}

#headBody{
    font-size:30pt;
    margin:15px;
    padding-top: 20px;
    padding-left:80px;

}

.heAd1{
   
    margin-top:20px;
    font-size:20pt;
    color:whitesmoke;
}
#chooseHeader{
    
    margin-left: 300px;
    
}

main{
    background-image: url(../images/main.png);
    background-size:100%;
    width:600px;
    margin-top:10px;
    margin-left:100px;
    margin-bottom:20px;
    padding-left:10px;
    float:left;
    font-size:18pt;
    color:yellow;
}

#newGame{
    margin: 10px;
    margin-left:380px;
    align-content:center;
}
#reset{
    margin: 10px;
    margin-left:380px;
    align-content:center;
}

.c1{
    border:solid;
    border-color:grey;
    margin: 15px;
    background-color:grey;
    
}
#chcA{
    margin: 15px;
    background-color:whitesmoke;
    opacity: 0.7;
}
#chcB{
    margin: 15px;
    background-color:whitesmoke;
    opacity: 0.7;
}
#chcC{
    margin: 15px;
    background-color:whitesmoke;
    opacity: 0.7;
}
#chcD{
    margin: 15px;
    background-color:whitesmoke;
    opacity: 0.7;
}
.catg{
    background-image: url(../images/rubber.png);
    text-align:center;
    height:175px;
    width:150px;
    float:left;
    margin-left:100px;
    margin-top:50px;
    margin-right:20px;
    color:white;
    font-size: 15pt;
}
.photo{
    padding:auto;
    margin:5px;
    float:left;
}

#scoreCount{
    float:right;
    background-image: url(../images/abbeyRoad.png);
    font-size: 20pt;
    height:300px;
    width:300px;
    margin-top:10px;
    margin-right:600px;
    padding-top:50px;
    padding-left: 50px;
    clear:both;
    color:yellow;
 
}
#category{
    height:350px;
}


footer{
    background-image: url(../images/abby.png);
    text-align:center;
    align-content: center;
    margin-top:150px;
    width:100%;
    height:75px;
    border:solid;
    border-color:whitesmoke;
    clear:both;
    color:whitesmoke;
}
.score{
    padding:5px;
    margin:5px;
}