    header {
    padding-top:15px;
    text-align: center;
    border:solid;
    border-color: blue;
    width: 100%;
    height: 100px;
}

body {
    background-color:grey;
    size: auto;
}

.boxMain {
    border:solid;
    border-color:red;
    background-color: beige;
    margin-right:50px;
    width: 500px;
    height: 500px;
    float:left;
}

footer {
    align-content:center;
    margin-top:100%;
    border:solid;
    border-color: purple;
    clear: both;

}

#mainBody{
    align-content:center;
    border:solid;
    border-color:pink;
    padding-left:350px;
    padding-top:100px;
    height:700px;
    width:100%;
}

#question{
    width:200px;
    height:50px;
    border:solid;
    background-color:white;
    padding: 5px;
}

button{

}